# --- Secrets ---
# Never commit your environment variables file.
.env
*.env

# --- Virtual Environment ---
# Ignore the virtual environment folder.
.venv
venv/
env/


# --- Python Cache ---
# Ignore compiled Python files and cache folders.
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE / Editor Folders ---
# Ignore settings folders from popular editors.
.vscode/
.idea/

# --- Operating System Files ---
# Ignore files created by macOS and Windows.
.DS_Store
Thumbs.db

# --- Testing Artifacts ---
# Ignore pytest cache and coverage reports.
.pytest_cache/
htmlcov/
.coverage

# csv files
colleges_with_coords.csv

ml/models/
ml/test_images/
ml/detected_images/
ml/data